<h1>Interpolação / Interpolação </h1>
<p>String renderizada com Interpolação! <strong>{{url}}</strong> </p>
<p>Resultado de 1+1 é:<strong> {{ 1+1 }} </strong> </p>
<p>Resultado de 1+1 não é <strong>{{ 1+1+getValorzinho()}}</strong></p>
<p>Teozinho mais patê é igual a file mignon? <strong>{{ teozinhoAmoeba && getCurtidas() }}</strong></p>
<br>
<article>
  <h3>Property Binding</h3>
  <img src="{{ urlImg }}" width="500px">
  <img [src]="urlImg2" height="300px" width="500px">
  <img bind-src="urlImg3">


</article>
